* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* start header */
header,
section {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
}

/* end header */

/* start body */

body {
  font-family: "Epilogue";
  background-color: var(--background-color);
}

.text {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: right;
}

.text p {
  font-family: monospace;
  max-width: 40%;
}

.career p {
  max-width: 100%;
}

h1,
h2 {
  z-index: 1;
  font-size: 10vw;
  align-self: flex-start;
}

h1:hover {
  cursor: pointer;
}

.parallax {
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
}

.negative {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

/* end body */

/* start links */
a {
  color: var(--background-color);
}

a:hover {
  color: var(--primary-color);
}

/* end links */

/* start fixed position */
.down-arrow {
  font-size: 4em;
  position: fixed;
  bottom: 32px;
  left: 32px;
  z-index: 0;
}

.mouse-tail {
  position: fixed;
  display: none;
  z-index: 2;
}

/* end fixed position */

/* start footer */
footer {
  min-height: 32px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.links {
  flex-grow: 1;
}

.links i {
  float: right;
  margin-left: .5em;
  transition: transform .7s ease-in-out;
}

.links i:hover {
  transform: rotate(360deg);
}

/* end footer */